<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosionBig_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{152,142},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{304,142},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{0,285},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{152,285},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{152,0},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{304,0},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{304,285},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{0,428},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{152,428},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosionBig_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{304,428},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explosionBig.png</string>
            <key>size</key>
            <string>{456,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d755e0d6e7ebceb25cd086657fda31de:9c6c72a59fa954448f3f9d43d181fa05:ff285c9954267521a1e00ae197c6b2f3$</string>
            <key>textureFileName</key>
            <string>explosionBig.png</string>
        </dict>
    </dict>
</plist>
