<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_L_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{24,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{240,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{264,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{288,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{312,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{336,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{360,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{384,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{408,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{432,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{456,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{48,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{72,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{96,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{120,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{144,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{168,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{192,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_L_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,57}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{216,0},{24,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireeHouse.png</string>
            <key>size</key>
            <string>{480,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd8d4d9e5ce5b67df1526c39d75d3d9:474bc8918c139127f2bcca122677a445:69cc1e7387add34e3cf7147ad1af7f04$</string>
            <key>textureFileName</key>
            <string>FireeHouse.png</string>
        </dict>
    </dict>
</plist>
